@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  /* Primary */
  --strong-cyan: hsl(172, 67%, 45%);
  
  /* Neutral */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  align-items: center;
  background-color: var(--light-grayish-cyan);
}

.container {
  display: grid;
  grid-template-columns: minmax(0px, 380px) minmax(0px, 360px);
  background-color: white;
  padding: 1.5rem;
  border-radius: 20px;
}

.app-title {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}